<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>{{ titulo }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<main>

    <body>
        <h1>{{ titulo }}</h1>
        <p>Painel de acompanhamento de ações da B3.</p>

        <div class="grid-acoes">
            <article class="card">
                <h2>PETR4</h2>
                <p class="preco">R$ 38,50</p>
                <p class="variacao positiva">+1,20%</p>
            </article>

            <article class="card">
                <h2>ITSA3</h2>
                <p class="preco">R$ 9,87</p>
                <p class="variacao negativa">-0,45%</p>
            </article>

            <article class="card">
                <h2>açao</h2>
                <p class="preco">R100,00</p>
                <p class="variacao positiva">+1,20%</p>
            </article>

            <article class="card">
                <h2>açao</h2>
                <p class="preco">R200,00</p>
                <p class="variacao positiva">+1,20%</p>
            </article>

            <article class="card">
                <h2>açao</h2>
                <p class="preco">R300,00</p>
                <p class="variacao positiva">+1,20%</p>
            </article>

            <article class="card">
                <h2>açao</h2>
                <p class="preco">R400,00</p>
                <p class="variacao positiva">+1,20%</p>
            </article>

            <article class="card">
                <h2>açao</h2>
                <p class="preco">R500,00</p>
                <p class="variacao positiva">+1,20%</p>
            </article>

            <article class="card">
                <h2>açao</h2>
                <p class="preco">R600,00</p>
                <p class="variacao positiva">+1,20%</p>
            </article>

            <article class="card">
                <h2>açao</h2>
                <p class="preco">R700,00</p>
                <p class="variacao positiva">+1,20%</p>
            </article>
        </div>
    </body>
</main>

</html>