<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>{{ titulo }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<main class = "container">
    <header class="cabecalho">{{ titulo }}</header>
    
    <body>
        <h3 class = "painel">Painel de acompanhamento de ações da B3.</h3>

        <div class="grid-acoes">
            {% for acao in acoes %}
            <article class="card">
                <h2>{{ acao.ticker }}</h2>
                <p class="preco">R$ {{ acao.preco }}</p>
                <p class="variacao {{ 'positiva' if acao.variacao >= 0 else 'negativa' }}">{{ acao.variacao }}%</p>
            </article>
            {% endfor %}

            <article class="card">
                <h2>ITSA3</h2>
                <p class="preco">R$ 9,87</p>
                <p class="variacao negativa">-0,45%</p>
            </article>

            <article class="card">
                <h2>açao</h2>
                <p class="preco">R100,00</p>
                <p class="variacao positiva">+1,20%</p>
            </article>

            <article class="card">
                <h2>açao</h2>
                <p class="preco">R200,00</p>
                <p class="variacao positiva">+1,20%</p>
            </article>

            <article class="card">
                <h2>açao</h2>
                <p class="preco">R300,00</p>
                <p class="variacao positiva">+1,20%</p>
            </article>

            <article class="card">
                <h2>açao</h2>
                <p class="preco">R400,00</p>
                <p class="variacao positiva">+1,20%</p>
            </article>
        </div>
    </body>
</main>

</html>